<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p>Mise à jour : {{ lastUpdate | date:'dd/MM/yyyy' }}</p>
      <ul class="list-group">
        <app-appareil  *ngFor="let appareil of appareils; let i = index"
                   [appareilName]="appareil.name"
                   [appareilStatus]="appareil.status" 
                   [index]="i"></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer</button>&nbsp;
      <button class="btn btn-danger"
              [disabled]="!isAuth"
              (click)="onEteindre()">Tout éteindre</button>
              <hr>
        <h2>Posts</h2>
        <ul class="list-group">
        <app-blog  *ngFor="let post of posts"
                       [postTitle]="post.title"
                       [postContent]="post.content"
                       [postCreatedAt]="post.createdAt"
                       [postLoveIts]="post.loveIts"
                       ></app-blog>
      </ul> 
    </div>
  </div>
</div>