<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > '0',
                'list-group-item-danger': postLoveIts < '0'}">
  <h4><div [ngStyle]="{color: getColor()}" style="text-align:left">{{ postTitle }}</div>  <div style="color:#666;text-align:right">{{ postCreatedAt | date: 'short' }}</div></h4>
  <p [ngStyle]="{color: getColor()}">{{ postContent }}</p>
  <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onLike()">Love it!</button>&nbsp;
  <button class="btn btn-danger"
              [disabled]="!isAuth"
              (click)="onDisLike()">Don't love it!</button>  
</li>